.login-wrapper {
  min-height: 100svh;
  padding: 10svh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d4d4d4;
}

.login-wrapper ul {
  margin-left: 2rem;
}

.login-wrapper li {
  list-style-type: none;
  margin-bottom: 0.5rem;
}

.login-wrapper .detail {
  margin-left: 0.5rem;
}

.login-wrapper .button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}
