.productDetail-wrapper {
  min-height: 100svh;
  padding-inline: 15vw;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 1rem;
}

.productDetail-wrapper .grid-col {
  display: flex;
  flex-direction: column;
  padding-inline: 1rem;
}

.productDetail-wrapper .group {
  padding: 1rem;
}

.productDetail-wrapper p {
  margin-left: 0.5rem;
}

.productDetail-wrapper h1 {
  font-size: 3rem;
}

.productDetail-wrapper img {
  margin-top: 2rem;
}

.productDetail-wrapper .detail-btn {
  margin-top: 1rem;
}

.productDetail-wrapper span {
  font-size: 0.75rem;
}
