.login-wrapper {
  min-height: 100svh;
  padding: 10svh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d4d4d4;
}

ul {
  margin-left: 2rem;
}

li {
  list-style-type: none;
  margin-bottom: 0.5rem;
}

.detail {
  margin-left: 0.5rem;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

[data-amplify-authenticator] {
  /* display: grid;
    grid-template-columns: 1fr 1fr; */
}
